# DB - Local PostgreSQL
POSTGRES_PASSWORD=social-password
POSTGRES_USER=social-user
POSTGRES_DB=social-db
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

# DJANGO
SECRET_KEY=<your-secret-key>
